{% load static %}
{% load category_cascade%}
<html lang="en">
<head>
    <title>Activito</title>
    <link rel="icon" href="{% static 'activito.ico' %}">
    <meta charSet="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script><script src="{% static 'airdatepicker/air-datepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'airdatepicker/air-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'handler_2_styles.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@28.2.1/dist/ag-grid-community.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'airdatepicker/air-datepicker.js' %}"></script>
    <script src="{% static 'scripts4.js' %}"></script>
</head>

<body>
{% csrf_token %}
<div class="d-flex flex-row  justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow flex-nowrap" style="max-height: 7vh;">
  <h1 class=" font-weight-normal" style="color: #04E061;">Активито</h1>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-outline-success"  href="{% url 'projects' user.username%}">К проектам</a>
      <a class="btn btn-outline-success" onclick="upload_table()" href="#">Сохранить</a>
  </nav>
</div>

<div class="modal fade" id="LoadFilesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
        <span><strong  id="LoadFilesModalText">Идёт загрузка...</strong></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="LoadTableModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
        <span><strong>Сохранение...</strong></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="LoadTableSuccessModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
        <span><strong>Сохранено успешно!</strong></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ErrorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
        <span><strong>Ошибка!</strong></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="NewCreatedModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
          <span style="margin-bottom: 5px"><strong>Новый проект создан и сохранён успешно!</strong></span>
        <span>Вернитесь в "Мои проекты" и зайдите в созданный проект, для его редактирования</span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AlreadyExistsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center" style="text-align: center;">
        <span style="margin-bottom: 5px"><strong>Ошибка!</strong></span>
        <span>Проект с таким именем уже существует</span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ReplaceModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column">
          <h2 style="text-align: center; margin-bottom: 20px">Найти и заменить</h2>
          <span><strong>Поиск по столбцам:</strong></span>
          <div style="display:inline-block; margin-bottom: 10px;">
          <label for="CompanyName-box">CompanyName <input type="checkbox" style="margin-right:5px" id="CompanyName-box" ></label>
          <label for="ManagerName-box">ManagerName <input type="checkbox" style="margin-right:5px" id="ManagerName-box" ></label>
          <label for="ContactPhone-box">ContactPhone <input type="checkbox" style="margin-right:5px" id="ContactPhone-box" ></label>
          <label for="VideoUrl-box">VideoUrl <input type="checkbox" style="margin-right:5px" id="VideoUrl-box" ></label>
          <label for="Address-box">Address <input type="checkbox" style="margin-right:5px" id="Address-box" ></label>
          <label for="Title-box">Title <input type="checkbox" style="margin-right:5px" id="Title-box" ></label>
          <label for="Description-box">Description <input type="checkbox" style="margin-right:5px" id="Description-box" ></label>
          <label for="Price-box">Price <input type="checkbox" style="margin-right:5px" id="Price-box" ></label>
          </div>
          <div class="d-flex flex-column" >
              <span>Найти:</span><input style="margin-top:5px" class="form-control" id="find-text-input">
              <span>Заменить на:</span><input style="margin-top:5px" class="form-control" id="replace-text-input">
              <button class="btn btn-success" onclick="find_and_replace()" style="margin-top:10px">Заменить всё</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column justify-content-center table-container" style="min-width:100%; height: 85vh; padding: 0 20px;">
    <div style="width: 95vw">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex flex-row align-items-center mb-2" style="margin-bottom: 0px">
                <label for="project-name" style="width:160px;" >Название проекта:</label>
                <input type="text" style="width:300px; height:30px;" id="project-name" class="form-control" value="{{project.project_name}}">
            </div>
            <div class="d-flex flex-row align-items-center" >
                <label for="compress-box" style="width:105px">Сжатие фото</label>
                <input type="checkbox" style="margin-right:70px" id="compress-box"
                       onclick="{document.getElementById('max-dimension').disabled = !(document.getElementById('max-dimension').disabled);
                                 document.getElementById('quality-selector').disabled = !(document.getElementById('quality-selector').disabled);}">
                <label for="max-dimension" style="width:190px;">Максимальный размер:</label>
                <input disabled type="text" style="width:70px; height:30px;" id="max-dimension" class="form-control" value="">
                <span style="width:30px; margin-left:3px; margin-right:70px">px</span>
                <span style="width:90px;">Качество: </span>
                <select id="quality-selector" disabled class="form-select form-select-sm" style="width:120px; margin-right:2px">
                    <option value="0.9">Хорошее</option>
                    <option value="0.7">Среднее</option>
                    <option value="0.5">Низкое</option>
                </select>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span style="width:120px;">Часовой пояс: </span>
            <select id="timezone-selector" class="form-select form-select-sm" style="width:200px">
                <option value="+02:00">UTC+2 (Калининград)</option>
                <option value="+03:00" selected>UTC+3 (Москва)</option>
                <option value="+04:00" >UTC+4 (Самара)</option>
                <option value="+05:00" >UTC+5 (Екатеринбург)</option>
                <option value="+06:00" >UTC+6 (Омск)</option>
                <option value="+07:00" >UTC+7 (Красноярск)</option>
                <option value="+08:00" >UTC+8 (Иркутск)</option>
                <option value="+09:00" >UTC+9 (Якутия)</option>
                <option value="+10:00" >UTC+10 (Владивосток)</option>
                <option value="+11:00" >UTC+11 (Магадан)</option>
                <option value="+12:00" >UTC+12 (Камчатка)</option>
            </select>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span style="width:180px; ">Пресет уникализации: </span>
            <select id="preset-selector" class="form-select form-select-sm" style="width:200px">
            {% for preset in presets%}
            <option value="{{preset.preset_name}}">{{preset.preset_name}}</option>
            {% endfor %}
            </select>
            <span style="width:90px; margin-left:40px; margin-right:20px">Цвет рамки: </span>
            <select id="border-color-selector" class="form-select form-select-sm" style="width:100px">
                <option value="white">Белый</option>
                <option value="black">Чёрный</option>
                <option value="grey">Серый</option>
            </select>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between mb-0">
            <div class="d-flex flex-row " style="margin-bottom: 8px">
                <label for="hide-end-time-box" style="width:190px;">Убрать столбец DateEnd</label>
                <input type="checkbox" id="hide-end-time-box" onchange='hide_end_time()'>
                <label for="hide-type-box" style="width:210px; margin-left:40px;">Убрать столбец GoodsType</label>
                <input type="checkbox" id="hide-type-box" onchange='hide_type()'>
                <label for="hide-subtype-box" style="width:235px; margin-left:40px; ">Убрать столбец GoodsSubType</label>
                <input type="checkbox" style="margin-right:40px" id="hide-subtype-box" onchange='hide_subtype()'>
            </div>
            <div class="d-flex flex-row" >
                <label for="delete-amount-from" style="width:128px; margin:0 0px" >Удалить строки с</label>
                <input type="text" style="width:70px; height:30px;" id="delete-amount-from" class="form-control" value= "">
                <label for="delete-amount-to" style=" margin:0 8px;" >по</label>
                <input type="text" style="width:70px; height:30px;" id="delete-amount-to" class="form-control" value="">
                <button class="btn btn-sm  btn-outline-danger" style="margin-left:12px; margin-right:2px;" onclick="delete_rows()">Удалить</button>
            </div>
        </div>
        <div class="mb-2 d-flex ">
            <span style="cursor: pointer; color:red; margin-right:20px" class="text-decoration-none" id="undo-button" onClick="undo()" >Отменить последнее действие
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                </svg>
            </span>
            <span style="cursor: pointer;margin-right:3px; color:#198754;" onClick="find_replace_modal.show()">Найти и заменить
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </span>
        </div>
    </div>

    <div id="myGrid" style="height: 100%; width: 100%" class="ag-theme-alpine"></div>

    <div class="d-flex align-items-center mt-2 ">
        <span style="">Добавить строки:</span>
        <input type="text" id="new-rows-amount" class="form-control-sm" style="margin-left:10px;" value="1">
        <span style="cursor: pointer;margin-left:10px;" class="text-decoration-none" id="add-row" onClick="add_rows()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#198754" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
            </svg>
        </span>
    </div>

<!--	<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@28.2.1/dist/ag-grid-community.min.js"></script>-->

    <script>
        const new_columns_names = [
            'DealGoal',
            ];

		projectData = JSON.parse("{{rows|escapejs}}");
		projectData.forEach(function(row, id){
		    new_columns_names.forEach(function(column_name, index){
		        if (!row.hasOwnProperty(column_name)){
		            row[column_name] = {"value": "", "color": "white"};
		        }
		    })
		})
		let selects_library= {};
		{% get_category_cascade as category_cascade%}
		{% get_contact_methods as contact_methods_list%}
		{% get_deal_goals as deal_goals_list%}
		{% get_listing_fees as listing_fees%}
		{% get_ad_statuses as ad_statuses%}
		{% get_ad_types as ad_types%}
		{% get_conditions as conditions%}
		{% get_price_types as price_types%}
		const category_cascade = JSON.parse("{{category_cascade|escapejs }}");
		selects_library['ContactMethod'] = JSON.parse("{{contact_methods_list|escapejs }}");
		selects_library['DealGoal'] = JSON.parse("{{deal_goals_list|escapejs }}");
		selects_library['ListingFee'] = JSON.parse("{{listing_fees|escapejs }}");
		selects_library['AdStatus'] = JSON.parse("{{ad_statuses|escapejs }}");
		selects_library['AdType'] = JSON.parse("{{ad_types|escapejs }}");
		selects_library['Condition'] = JSON.parse("{{conditions|escapejs }}");
		selects_library['PriceType'] = JSON.parse("{{price_types|escapejs }}");
	</script>

    <script>
        let load_files_modal = new bootstrap.Modal(document.getElementById("LoadFilesModal"), {});
        let load_table_modal = new bootstrap.Modal(document.getElementById("LoadTableModal"), {});
        let load_table_success_modal = new bootstrap.Modal(document.getElementById("LoadTableSuccessModal"), {});
        let error_modal = new bootstrap.Modal(document.getElementById("ErrorModal"), {});
        let find_replace_modal = new bootstrap.Modal(document.getElementById("ReplaceModal"), {});
        let already_exists_modal = new bootstrap.Modal(document.getElementById("AlreadyExistsModal"), {});
        let new_created_modal = new bootstrap.Modal(document.getElementById("NewCreatedModal"), {});
    </script>

    <script>
        let file_trigger = 0;


        function compressImage(files, row_id, row, quality=0.9, max_dimension=null) {
            document.getElementById('LoadFilesModalText').innerHTML = 'Сжатие...';
            load_files_modal.show();
            let files_amount = files.length;
            let new_files = [];
            for (k=0;k<files.length;k++) {
                const name = files[k].name.split('.')[0] + '.jpg';
                const fileURL = URL.createObjectURL(files[k]);
                const img = new Image();
                img.src = fileURL;
                img.addEventListener("load", () => {
                    URL.revokeObjectURL(fileURL);
                    const cvs = document.createElement("canvas");
                    let new_width = img.naturalWidth;
                    let new_height = img.naturalHeight;
                    if (max_dimension)   {
                        if ((img.naturalWidth > img.naturalHeight) && (max_dimension < img.naturalWidth)) {
                            new_width = max_dimension;
                            new_height = img.naturalHeight*max_dimension/img.naturalWidth;
                        }
                        else if (max_dimension < img.naturalHeight){
                            new_height = max_dimension;
                            new_width = img.naturalWidth*max_dimension/img.naturalHeight;
                        }
                    }
                    cvs.width = new_width;
                    cvs.height = new_height;
                    cvs.getContext("2d").drawImage(img, 0, 0, new_width, new_height);
                    cvs.toBlob(blob => {
                        file_trigger = file_trigger + 1;
                        new_files.push(new File([blob], name, {type: "image/jpeg",}))
                        if (file_trigger >= files_amount) {
                            file_trigger = 0;
                            send_files(new_files, row_id, row);
                        }
                    }, "image/jpeg", quality);
                }, {once: true});
            }
        }
    </script>


    <script>
        let csrf = $("input[name=csrfmiddlewaretoken]").val();

        function  upload_files(elem, row_id) {
            let row = elem.currentTarget.parentNode.parentNode.parentNode;
            let files_input = row.getElementsByClassName(`load-files-input`)[0];
            let files = files_input.files;
            let compress_checkbox = document.getElementById('compress-box').checked;
            if (compress_checkbox) {
                compressImage(files, row_id, row, Number(document.getElementById('quality-selector').value), Number(document.getElementById('max-dimension').value));
            }
            else {
                send_files(files, row_id, row);
            }
        }

        function send_files(files, row_id, row){
            document.getElementById('LoadFilesModalText').innerHTML = 'Идёт загрузка...';
            let unique_checkbox = row.getElementsByClassName(`load-files-checkbox`)[0];
            let unique_trigger = Number(unique_checkbox.checked);
            let border_color = document.getElementById('border-color-selector').value;
            let cells_edited = {};
            let formData = new FormData();
            if (files.length){
                for (k=0;k<files.length;k++) {
                    formData.append('files',files[k]);
                }
                formData.append("csrfmiddlewaretoken", csrf);
                formData.append("project_name", String(document.getElementById('project-name').value));
                formData.append("make_unique", Number(unique_checkbox.checked));
                let preset_selector = document.getElementById('preset-selector');
                formData.append("preset", preset_selector.options[preset_selector.selectedIndex].value);
                formData.append("border_color", border_color);

                $.ajax({
                        url: "{%url 'load_files_1'%}",
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'post',
                        data: formData,
                        beforeSend: function(){load_files_modal.show();},
                        error: function(){
                                setTimeout(() => load_files_modal.hide(), 500);
                                setTimeout(() => error_modal.show(), 700);
                               },
                        success: function(response) {
                                    if (response) {
                                        let urls = response['urls'];
                                        let row = gridOptions.api.getRowNode(row_id);
                                        if (row){
                                            let previous = row.data['Images'];
                                            let urls_obj = {};
                                            urls.forEach(function(url, index){
                                                urls_obj[index+1] = url;
                                                let newValue = JSON.stringify(urls_obj);
                                                cells_edited[`Images-${row_id}`] = {'previous': previous};
                                                row.setDataValue('Images', {'value':newValue,'color': previous['color']});
                                            })
                                        }
                                        addLog('load_images', cells_edited);
                                        setTimeout(() => load_files_modal.hide(), 500);
                                    }
                                }
                })
            }
        }

        function  upload_table() {
            let project_name = String(document.getElementById('project-name').value);
            if (!(project_name)) {
                alert('Введите название проекта!');
                return(false);
            }
            let formData = new FormData();
            formData.append('json_table',JSON.stringify(projectData));
            formData.append('project_name', document.getElementById('project-name').value);
            formData.append('project_pk', "{{project.id}}");
            formData.append("csrfmiddlewaretoken", csrf);

            $.ajax({
            url: {% url 'load_table'%},
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            type: 'post',
            data: formData,
            error: function(){
                    setTimeout(() => load_table_modal.hide(), 500);
                    setTimeout(() => error_modal.show(), 700);
                   },
            beforeSend: function(){load_table_modal.show();},
            success: function(response) {
                        setTimeout(() => load_table_modal.hide(), 500);
                        if (response.message == 'saved'){
                            setTimeout(() => load_table_success_modal.show(), 700);
                        }
                        else if (response.message == 'already_exists'){
                            setTimeout(() => already_exists_modal.show(), 700);
                        }
                        else if (response.message == 'new_created'){
                            setTimeout(() => new_created_modal.show(), 700);
                        }
                     }
            })
        }
    </script>
</div>
</body>
</html>